.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.h1style {
  display: block;
  margin: 20px auto;
  height: auto;
  width: 835px;
  border: 2px solid blue;
  border-radius: 30px;
  padding: 0px 0 0px 139px;
}
.btn {
  display: block;
  margin: auto;
  height: 40px;
  width: 127px;
  border-radius: 20px;
  cursor: pointer;
}
.btn:focus {
  display: block;
  margin: auto;
  outline: none;
  border-radius: 20px !important;
}
.btn:active {
  display: block;
  margin: auto;
  outline: none;
  border-radius: 20px !important;
}
button.btnInner {
  height: 24px;
  width: 94px;
  border-radius: 13px;
  margin-left: 35px;
  background: red;
  color: #fff;
  outline: none;
}
form {
  display: block;
  margin: auto;
  border: 1px solid blue;
  width: 250px;
  height: 250px;
  padding: 30px;
  background-color: blue;
}
input#email {
  height: 28px;
  width: 200px;
  margin: 20px 0;
  border-radius: 10px;
  outline: none;
}
input#password {
  height: 28px;
  width: 170px;
  margin: 20px 0;
  border-radius: 10px;
  outline: none;
}
label {
  font-size: 17px;
}
button.sub {
  text-align: center;
  display: block;
  margin: auto;
  height: 30px;
  width: 80px;
  border-radius: 16px;
  outline: none;
}
.center {
  text-align: center;
}
